{% extends '::base.html.twig' %}

{% if form is defined %}
    {% form_theme form _self %}

    {% block form_row %}
        <div class="form-group col-sm-8 {% if form.vars.valid==false %}has-error{% endif %}">
            {{ form_label(form) }}
            {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form) }}
        </div>
    {% endblock form_row %}
{% endif %}

{% block title %}QR Code Generator{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% if form is defined %}
                {{ form_start(form) }}
                {{ form_row(form.text) }}
                {{ form_row(form.width) }}
                {{ form_row(form.height) }}
                <div class="form-group col-sm-8">
                    {{ form_widget(form.generate) }}
                </div>
                {{ form_end(form) }}
            {% else %}
                <div class="row text-center">
                    {% if error %}
                        Some problems:  {{ error }}
                    {% else %}
                        <img src="data:{{ image.type }};base64, {{ image.data }}" width="image.width" height="image.height">
                    {% endif %}
                    <br />
                    <a href="{{ path('qr_code_gen_main') }}">Back</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}